*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.container{
    font-family: 'Quicksand', sans-serif;
    display: flex;
    background-color: rgb(227, 227, 227);
}

.sidebar{
    left: 0;
    width: 290px;
    height: 100vh;
    background-color: #042331;
    position: sticky;
    top: 0;
}

.sidebar header{
    width: 100%;
    line-height: 90px;
    font-size: 20px;
    color: white;
    background-color: #063146;
    user-select: none;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

.sidebar ul a{
    width: 100%;
    height: 100%;
    font-size: 18px;
    line-height: 70px;
    padding-left: 40px;
    box-sizing: border-box;
    color: white;
    border-top: 1px solid rgba(255, 255, 255, .1);
    border-bottom: 2px solid black;
    display: block;
    font-family: 'Quicksand', sans-serif;
    transition: .4s;
}

.siswa{
    background-color: #071c25;
}

ul li:hover a{
    padding-left: 50px;
}

.sidebar ul li a i{
    margin-right: 16px;
}

.content{
    margin-left: 3%;
    margin-top: 2%;
    background-color: white;
    border-radius: 10px;
    padding: 50px;
    box-sizing: border-box;
    box-shadow: 0px 2px 2px 2px rgba(0,0,0,0.8);
    margin-bottom: 30px;
    
}

.content judul{
    font-size: 25px;
    line-height: 31px;
    width: 300px;
    margin-bottom: 5px;
    margin-left: 20px;

}

.content p{
    font-weight: lighter;
    font-size: 15px;
    line-height: 31px;
}

.create button{
    margin-top: 5%;

    width: 120px;
    height: 28px;
    border-radius: 10px;
    background-color: #063146;
    border: none;
    color: white;
    font-weight: bold;
}

.create button:hover{
    cursor: pointer;
}


.tables{
    margin-top: 10px;
    width: 900px;
}

.tablesiswa{
    font-family: 'Quicksand', sans-serif;
    color: #444;
    border-collapse: collapse;
    width: 100%;
    font-size: 15px ;
    user-select: none;
    border-radius: 20px;
    border: 1px solid black;
}


.tablesiswa tr th{
    background: #042331;
    color: white;
    font-weight: normal;

}

.tablesiswa td{
    background-color: white;
}
 
.tablesiswa, th, td {
    padding: 8px 15px;
    text-align: center;
    border-bottom: 1px solid rgb(197, 197, 197);

}

.btnedit{
    background-color: #3BBA00;
    color: white;
    border: none;
    border-radius: 5px;
    height: 25px;
    width: 40px;
    font-size: 10px;
    margin: 5px;
}

.btnedit:hover{

    cursor: pointer;
}

.btnhapus{
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    height: 25px;
    width: 60px;
    font-size: 10px;
    margin: 5px;
}

.btnhapus:hover{

    cursor: pointer;
}

.search{
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: -30;
    box-sizing: border-box;
    width: 50%;
    float: right;
    margin-top: 43px;
}

.formcari{
    width: 300px;
    box-sizing: border-box;
    padding: 3px;
    border-radius: 10px;
    padding: 10px 18px;
    margin: 7px 0;
    margin-right: -25px;
    display: inline-block;
    box-sizing: border-box;
    height: 20px;
}

.tombolcari{
    height: 25px;
    width: 25px;
    background-color: transparent;
    border: 0;
    position: relative;
    right: 10px;
}