*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}




.container{
    display: flex;
    font-family: 'Quicksand', sans-serif;
}

.sidebar{
    left: 0;
    width: 290px;
    height: 100vh;
    background-color: #042331;
}

.sidebar header{
    font-size: 20px;
    color: white;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    line-height: 90px;
    background-color: #063146;
    user-select: none;
}

.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 70px;
    font-size: 18px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, .1);
    font-family: 'Quicksand', sans-serif;
    border-bottom: 1px solid black;
    transition: .4s;

}

ul li:hover a{
    padding-left: 50px;
}

.sidebar ul li a i{
    margin-right: 16px;
}

.content{
    margin-left: 65px;
}

.form{
    width: 950px;
    height: 30px;
    margin-top: 50px;
    display: flex;
    background-color: #042331;
    color: white;
    justify-content: center;
    align-items: center;
}

.form h1{
    font-size: 20px;
}


.tulisan{
    font-size: 20px;
    margin-left: 30px;
}

.isi{
    width: 750px;
    height: 30px;
    margin-left: 50px;
    font-size: 15px;
    background-color: #D9D9D9;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
}

.tbinsert{
    margin-top: 20px;   
}

.tbinsert td{
    height: 70px;
    text-align: left;
}

.btnsimpan{
    background-color: #3BBA00;
    color: white;
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 100px;
    font-size: 17px;
    position: relative;
    left: 50%;
    margin-top: 20px;
}

.btnsimpan:hover{
    cursor: pointer;
}